header{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
}
header h1{
    font-family: Arial;
    font-size: 40px;
    font-weight:bolder;

    margin: 0px auto;

}
header #newgamebutton{
    width: 110px;
    background-color: burlywood;
    border-radius: 10px;
    display: block;
    margin: 5px auto;
    padding: 10px 10px;

    font-family: Arial;
    color: white;

    text-decoration: none;
}
header p {
    font-family: Arial;
    font-size: larger;
    margin: 5px auto;
}
#newgamebutton:hover{
    background-color: tan;
}

#grid-container{
    width: 460px;
    height: 460px;
    padding: 20px;
    background-color: #e59626;
    border-radius: 10px;


    margin: 15px auto;

    position: relative;
}
.grid-cell{
    background-color: #b17020;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    position: absolute;

}
.numbercell{
    position: absolute;
    border-radius: 10px;

    font-family: Arial;
    font-size: 60px;
    font-weight: bolder;
    line-height: 100px;
    text-align: center;

}
